{% extends "main.html" %}
{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li><strong> {{message}} </strong></li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}

	<h2>Categories</h2>

	<section class="catalog">

		<div class="categories">
		{% for c in categories %}
			<a href="{{url_for('showItems', category_id=c.id)}}" class="category">{{c.name}}</a>
		{% endfor %}
		</div>

		<div class="items">
			{% block items %}
			{% endblock %}
		</div>

	</section>

{% endblock %}
