{% extends "main.html" %}

{% block header %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"></script>

{% endblock %}

{% block content %}

	<a href = '{{url_for('showCategories')}}' class="goback">
		<svg fill="#888888" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		 	<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
		</svg>
	</a>
	<h2 class="login_title middle_title">Log in</h2>
	<div id="signinButton">
		<span class="g-signin"
		data-scope="openid email"
		data-clientid="327481064324-qd7lgedvd932brs6nqlms9iuep3tfgg2.apps.googleusercontent.com"
		data-redirecturi="postmessage"
		data-accesstype="offline"
		data-cookiepolicy="single_host_origin"
		data-callback="signInCallback"
		data-approvalprompt="force">
		</span>
	</div>
	<div id="result"></div>

{% endblock %}

{% block scripts %}

	<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				// Hide the sing-in button now that the user is authorized
				$('#signinButton').attr('style', 'display: none');
				// Send the one-time-use code to the server, if the server
				// responds, write a 'login successful' message to the web page
				// and then redirect back to the main categories page
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					contentType: 'application/octet-stream; charset=utf-8',
					data: authResult['code'],
					success: function(result) {
						if (result) {
							$('#result').html('Login Successful</br>' + result + '</br>Redirecting...');
							setTimeout(function() {
								window.location.href = "/categories";
							}, 3000);
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							$('#result').html('Failed to make a server side call. Check your configuration and console.');
						}
					}
				});
			}
		}
	</script>

{% endblock %}